/* pt-sans-regular - latin */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/pt-sans-v12-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./fonts/pt-sans-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/pt-sans-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/pt-sans-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./fonts/pt-sans-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/pt-sans-v12-latin-regular.svg#PTSans') format('svg'); /* Legacy iOS */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
}

h1 {
  font-size: 60px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  background-color: #ebe3d9;
}

.header-container {
  padding: 20px;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.player-container {
  padding: 10px;
}

.board-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  margin-bottom: 16px;
}

.player-name {
  text-align: center;
  margin-bottom: 12px;
}

.board {
  height: 350px;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  padding: 6px;
  background-color: #5f9ea0;
}

.row {
  flex: 1;
  display: flex;
  justify-content: stretch;
}

.col {
  flex: 1;
  border: 1px solid #c7c7c779;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.board.two .col.active:hover {
  cursor: pointer;
  background-color: #ffebcd;
}

.message-container {
  padding: 20px;
}

.active-ship {
  background-color: #0000ff;
  color: #fff;
}

.disabled-ship {
  color: #f00;
}

.col.gameover {
  background-color: #808080;
  pointer-events: none;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00000080;
  pointer-events: all;
}

.gameover-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  padding: 30px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  border: 1px solid #000;
}

button {
  padding: 2px 12px;
  border: none;
  background-color: #008000;
  color: #fff;
}

button:hover {
  transform: scale(1.1);
  cursor: pointer;
}