/* pt-sans-regular - latin */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/pt-sans-v12-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./fonts/pt-sans-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/pt-sans-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/pt-sans-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./fonts/pt-sans-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/pt-sans-v12-latin-regular.svg#PTSans') format('svg'); /* Legacy iOS */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
  background-color: #ebe3d9;
}

h1 {
  font-size: 60px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

.header-container {
  padding: 20px;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.player-container {
  padding: 10px;
}

.board-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.player-name {
  text-align: center;
  margin-bottom: 12px;
}

.board {
  height: 350px;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  margin-bottom: 16px;;
  padding: 6px;
  background-color: #5f9ea0;
}

.row {
  flex: 1;
  display: flex;
  justify-content: stretch;
}

.col {
  flex: 1;
  border: 1px solid #c7c7c779;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.board.two .col.active:hover {
  cursor: pointer;
  background-color: #ffebcd;
}

.message-container {
  padding: 20px;
}